body {
    background-image: url("../images/art-background-beautiful-988868.jpg");
    
    font-weight: bold;
}
.jumbotron {
    background: #ffffff!important;
    opacity: .67;
    font-size: 64px;
    font-family: 'Noto Sans JP', sans-serif;
}
.card-text {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 20px;
}
.card-text1 {
    height: 70px;
}
#crystals {
    margin-left: 40px;
}
.win-loss {
    text-align: center;
    padding-top: 5px;
}